{% extends 'landing.html' %}

{% block content %}
  <section class="w-full bg-blue-900 brightness-75 text-white font-bold flex items-center justify-center aspect-[3.5] min-h-80">
    <h1 class="capitalize text-3xl md:text-6xl">who we are</h1>
  </section>

  <sext class="w-full flex flex-col px-[10%] items-start gap-6 font-serif">
    <h2 class="uppercase text-xl md:text-3xl font-bold text-blue-600 font-sans">history</h2>

    <p class="">The seed of Bayero University Kano was the Ahmadu Bello College set up in 1960, located within the School for Arabic Studies (SAS), in the old city of Kano. With the establishment of Ahmadu Bello University, Zaria, in 1962, it was renamed Abdullahi Bayero College. In 1964 it moved to a temporary site at the old Kano Airport Hotel, admitting its first set of ten undergraduate students for a B.A. degree programme of Ahmadu Bello University.</p>
    <p class="">This first set graduated in 1966 but it continued as a faculty of ABU until 1980. Before then the temporary site had attracted hostile fire during the civil war and had to move to its permanent site (present old campus) in the vicinity of Kabuga and Dukawuya gates on the Kano-Gwarzo road. The next phase of development occurred in 1975, when Abdullahi Bayero College was raised to the status of a University College with the right to award degrees on behalf of Ahmadu Bello University and was renamed Abdullahi Bayero University College, with its own Governing Council.</p>
    <p class="">All University Colleges in the country were raised to the status of fullfledged universities in 1977 by the Federal Government and Abdullahi Bayero University College became Bayero University, Kano (BUK) (backed by the promulgation of BUK Decree no 79 of 1979). Dr. Mahmud Tukur, the Principal of the University College became its pioneer Vice-Chancellor (1977-78) leading the team that laid the foundation and initiated the process that gave rise to the present permanent site and the shape of the university as we know it today.</p>
    <p class="">The following had all been Vice Chancellors of Bayero University Kano after Dr. Mahmud Tukur: Prof. James O.C. Ezeilo (1978- 79), Prof. Ibrahim H. Umar (1979-86), Prof. Dandatti Abdulkadir (1986-91), Prof. M. S. Zahraddeen (1991-95), Prof. B.B. Dambatta (1995-99), Prof. Musa Abdullahi (1999-2004), Prof. Danjuma A. Maiwada (Acting VC, 2004- 05), and Prof. Attahiru M. Jega (2005-July 2010), Prof. A.A Rasheed (2010 to 2015), Prof. Yahuza Bello (2015 to 2020), Prof. Sagir Adamu Abbas (2020 to date)</p>
  </sext>
{% endblock %}
